
footer {
  width: 100%;
  bottom: 0;
  padding: 3rem 0;
  z-index: 1;
}

.copyright {
  max-width: 40rem;
  margin: auto;
  font-size: clamp(2rem, 2.5vw, 2.4rem);
  border-radius: 8px;
  background: var(--var-bg-shadow-footer);
}

.copyright a {
  padding: 2rem;
  display: block;
  text-align: center;
}
