footer {
  position: fixed;
  bottom: 0;
  color: var(--var-font-color);
}

.copyright {
  max-width: 40rem;
  margin: auto;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  border-radius: 0.6rem;
  background: var(--var-bg-shadow-footer, 0.3);
}

.copyright a {
  padding: 1.6rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--var-font-color);
}

@media (min-width: 768px) {
  .copyright {
    font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  }

  .copyright a {
    padding: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .copyright {
    max-width: 48rem;
    font-size: clamp(2.2rem, 2.5vw, 2.4rem);
  }

  .copyright a {
    padding: 2rem;
  }
}
