footer {
  width: 90%;
  position: fixed;
  bottom: 0;
  padding: 3rem 0;
  z-index: 1;
}

.copyright {
  max-width: 40rem;
  margin: auto;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  border-radius: 8px;
  background: var(--var-bg-shadow-footer, 0.3);
}

.copyright a {
  padding: 2rem;
  display: block;
  text-align: center;
}
