/* Start */
.containerInitialize {
  max-width: 40rem;
  height: 25rem;
  padding: 1rem;
  margin: auto;
  display: flex; /*remove none add flex*/
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--var-bg-color-init);
  border-radius: 8px;
  gap: 6rem;
}

.boxHeader {
  width: 100%;
  display: flex;
}

.boxHeader div {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

.boxRanque {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.boxRanque img {
  width: clamp(2rem, 2.5vw, 2.4rem);
}

.boxSwitch {
  width: 50%;
  position: relative;
}

/* Switch */
#switch {
  position: absolute;
  right: 0;
}

#switch button {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  top: 50%;
  left: 0;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 16px;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-in 0.2s;
}

.light-mode #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  width: 5.8rem;
  height: 2rem;
  display: block;
  border: 2px solid var(--var-bg-color);
  border-radius: 12px;
  background: var(--var-bg-color-init);
  box-shadow: inset 4px 4px 8px var(--var-bg-color),
    inset -4px -4px 4px var(--var-bg-shadow-black);
}

/* Players */
.boxPlayersName {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.boxPlayersName span {
  padding: 1rem;
}

.player {
  width: 40%;
  color: var(--var-font-color);
  font-size: clamp(2rem, 2.5vw, 2.4rem);
  background-color: transparent;
  border-bottom: solid 2px var(--var-font-color);
}

.player::placeholder {
  color: var(--var-font-color);
  text-align: center;
}

.player:focus {
  outline: none;
  color: var(--var-font-color);
}

.init {
  width: 14.8rem;
  height: 2.8rem;
  margin-top: 5rem;
  color: var(--var-font-color);
  font-family: "Pixelify Sans", Arial, sans-serif;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 7px 7px 10px var(--var-bg-shadow-black),
    -7px -7px 10px var(--var-bg-color);
}

/* Ranque */
.containerRanque {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
  display: none; /*remove none add none*/
  background-color: var(--var-bg-color-init);
  border-radius: 8px;
}

.boxTitleRanquePlayers {
  width: 100%;
}

.boxRanquePlayers {
  width: 100%;
  height: 21rem;
  overflow: auto;
}

.boxTitleRanquePlayers table,
.boxRanquePlayers table {
  width: 100%;
  text-align: center;
}

.boxRanquePlayers::-webkit-scrollbar {
  display: none;
}

.tableRanque {
  border-collapse: collapse;
}

.tableRanque tr th {
  background-color: var(--var-bg-color);
}

.tableRanque tr td,
.tableRanque tr th {
  width: 33%;
}

/* Game */
.containerGame {
  max-width: 40rem;
  margin: auto;
  display: none;
}

.boxLines {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px -4px 2px var(--var-bg-shadow-black));
}

.boxLinesHorizontal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  z-index: 2;
}

.boxLinesVertical {
  display: flex;
  gap: 6.8rem;
}

.boxLinesHorizontal div,
.boxLinesVertical div {
  background-color: var(--var-bg-color-footer);
  border-radius: 8px;
}

.boxLinesHorizontal div {
  width: 25rem;
  height: 1rem;
}

.boxLinesVertical div {
  width: 1rem;
  height: 25rem;
}

/* Game handles */
.boxParts {
  max-width: 40rem;
  position: absolute;
  z-index: 3;
}

.tableParts tr td {
  text-align: center;
  height: 8.4rem;
  width: 8.4rem;
}

.part {
  height: 70%;
  width: 70%;
}

/* Victory */
.containerVictory {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--var-bg-color-victory);
  transform: translateX(-50%);
  z-index: 6;
}

.boxVictory {
  max-width: 40rem;
  height: 22rem;
  padding: 2rem;
  position: relative;
  top: 14rem;
  border-radius: 8px;
  background-color: var(--var-bg-color-init);
}

.backgroundVictory {
  width: 24rem;
  height: 18rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--var-bg-color);
  border-radius: 5rem 5rem 3rem 3rem;
}

.backgroundVictory img {
  width: 18rem;
  position: absolute;
  top: 0rem;
  margin: auto;
}

.playerVictory {
  width: 18rem;
  height: 15rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--var-bg-color-box);
  border-radius: 5rem 5rem 3rem 3rem;
}

.playerVictory p {
  font-size: clamp(2.8rem, 2.5vw, 3.2rem);
  text-align: center;
}

.reloadWindow {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 8px;
  background: var(--var-bg-color-init);
  box-shadow: 4px 4px 4px var(--var-bg-shadow-black),
    -4px -4px 8px var(--var-bg-color);
}

