main {
  width: 100%;
  padding: 2rem 2rem 2rem;
  color: var(--var-font-color);
  position: relative;
  z-index: 1;
}

.containerGame {
  max-width: 40rem;
  margin: auto;
}

.boxLines {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset;
}

.boxLinesHorizontal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  z-index: 1;
}

.boxLinesVertical {
  display: flex;
  gap: 6.8rem;
}

.boxLinesHorizontal div {
  width: 25rem;
  height: 1rem;
  background-color: var(--var-bg-color-footer);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px var(--var-bg-shadow-black)
}

.boxLinesVertical div {
  width: 1rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: var(--var-bg-color-footer);
  box-shadow: 0px 4px 4px var(--var-bg-shadow-black)
}
