/* Start */
.containerInitialize {
  max-width: 40rem;
  height: 25rem;
  padding: 1.2rem;
  margin: auto;
  display: flex; /*remove none add flex*/
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--var-bg-color-init);
  border-radius: 8px;
  gap: 6rem;
}

.boxHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.boxRanque {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: clamp(2rem, 2vw, 2.4rem);
  gap: 0.8rem;
}

.boxRanque > span,
img:hover {
  cursor: pointer;
}

.boxRanque img {
  width: clamp(2rem, 2vw, 2.4rem);
}

.boxSwitch {
  width: 50%;
  position: relative;
}

/* Switch */
#switch {
  position: absolute;
  right: 0;
}

#switch button {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  background: white var(--switch-bg-url) no-repeat center;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-in 0.2s;
}

.light-mode #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  width: 5.8rem;
  height: 2rem;
  display: block;
  border: 2px solid var(--var-bg-color);
  border-radius: 16px;
  background: var(--var-bg-color-init);
  box-shadow: inset 4px 4px 8px var(--var-bg-color),
    inset -4px -4px 4px var(--var-bg-shadow-black);
}

/* Players */
.boxPlayersName {
  text-align: center;
}

.boxPlayersName span {
  padding: 1rem;
}

.player {
  width: 40%;
  font-size: clamp(2rem, 2vw, 2.4rem);
  border-bottom: solid 2px var(--var-font-color);
}

.player::placeholder {
  color: var(--var-font-color);
  text-align: center;
}

.player:focus {
  outline: none;
}

.init {
  width: 16rem;
  height: 3.2rem;
  margin-top: 5rem;
  font-size: clamp(2rem, 2vw, 2.4rem);
  border-radius: 12px;
  box-shadow: 4px 4px 10px var(--var-bg-shadow-black),
    -4px -4px 10px var(--var-bg-color);
  transition: filter 300ms;
}

.init:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.init:disabled {
  background-color: rgba(50, 50, 50, 0.15);
  color: #ddd;
  cursor: not-allowed;
  filter: none;
}

/* Ranque */
.containerRanque {
  max-width: 40rem;
  padding: 1rem;
  margin: auto;
  display: none; /*remove none add none*/
  background-color: var(--var-bg-color-init);
  border-radius: 8px;
}

.boxTitleRanquePlayers {
  width: 100%;
}

.boxRanquePlayers {
  width: 100%;
  height: 21rem;
  overflow: auto;
}

.boxTitleRanquePlayers table,
.boxRanquePlayers table {
  width: 100%;
  text-align: center;
}

.boxRanquePlayers::-webkit-scrollbar {
  display: none;
}

.tableRanque {
  border-collapse: collapse;
}

.tableRanque tr th {
  background-color: var(--var-bg-color);
}

.tableRanque tr td,
.tableRanque tr th {
  width: 33%;
}

/* Game */
.containerGame {
  max-width: 40rem;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

.boxLines {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px -4px 2px var(--var-bg-shadow-black));
}

.boxLinesHorizontal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  z-index: 2;
}

.boxLinesVertical {
  display: flex;
  gap: 6.8rem;
}

.boxLinesHorizontal div,
.boxLinesVertical div {
  background-color: var(--var-bg-color-footer);
  border-radius: 8px;
}

.boxLinesHorizontal div {
  width: 25rem;
  height: 1rem;
}

.boxLinesVertical div {
  width: 1rem;
  height: 25rem;
}

/* Game handles */
.boxParts {
  max-width: 40rem;
  position: absolute;
  z-index: 3;
}

.tableParts tr td {
  text-align: center;
  height: 8.4rem;
  width: 8.4rem;
}

.part {
  height: 70%;
  width: 70%;
}

/* Victory */
.containerVictory {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--var-bg-color-victory);
  transform: translateX(-50%);
  z-index: 6;
}

.boxVictory {
  max-width: 40rem;
  height: 22rem;
  padding: 2rem;
  position: relative;
  top: 14rem;
  border-radius: 8px;
  background-color: var(--var-bg-color-init);
}

.backgroundVictory {
  width: 24rem;
  height: 18rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--var-bg-color);
  border-radius: 5rem 5rem 3rem 3rem;
}

.backgroundVictory img {
  width: 18rem;
  position: absolute;
  top: 0rem;
  margin: auto;
}

.playerVictory {
  width: 18rem;
  height: 15rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--var-bg-color-box);
  border-radius: 5rem 5rem 3rem 3rem;
}

.playerVictory p {
  font-size: clamp(2.8rem, 2vw, 3.2rem);
  text-align: center;
}

.reloadWindow {
  width: 6.5rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 8px;
  background: var(--var-bg-color-init);
  box-shadow: 4px 4px 4px var(--var-bg-shadow-black),
    -4px -4px 8px var(--var-bg-color);
}

@media (min-width: 768px) {
  /* Start */
  .containerInitialize {
    padding: 1.6rem;
  }

  .boxRanque {
    font-size: clamp(2.4rem, 2vw, 2.8rem);
    gap: 1.2rem;
  }

  .boxRanque img {
    width: clamp(2.4rem, 2vw, 2.8rem);
  }

  /* Players */
  .player {
    font-size: clamp(2.4rem, 2vw, 2.8rem);
  }

  .init {
    margin-top: 4rem;
    font-size: clamp(2.4rem, 2vw, 2.8rem);
  }

  /* Ranque */
  .containerRanque {
    padding: 1.4rem;
  }

  .tableRanque tr td,
  .tableRanque tr th {
    width: 33%;
    font-size: clamp(2rem, 2vw, 2.4rem);
  }

  /* Victory */
  .containerVictory {
    padding: 2.4rem;
  }

  .boxVictory {
    padding: 2.4rem;
    top: 15rem;
  }

  .backgroundVictory {
    padding: 1.2rem;
  }

  .reloadWindow {
    bottom: 2.4rem;
    right: 2.4rem;
  }
}
