:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  --var-font-color: #f2f2f2;
  --var-bg-color-footer: #d9d9d9;
  --var-bg-color-box: #bfbfbf;
  --var-bg-color-init: #595959;
  --var-bg-color: #737373;
  --var-bg-shadow-white: rgba(191, 191, 191, 0.5);
  --var-bg-shadow-footer: rgba(217, 217, 217, 0.2);
  --var-bg-shadow-black: rgba(0, 0, 0, 0.25);
  --var-bg-color-victory: rgba(0, 0, 0, 0.3);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../images/MoonStars.svg);
}

.light-mode {
  --var-font-color: #737373;
  --var-bg-color-footer: #737373;
  --var-bg-color-box: #bfbfbf;
  --var-bg-color-init: #bfbfbf;
  --var-bg-color: #d9d9d9;
  --var-bg-shadow-white: rgba(191, 191, 191, 0.5);
  --var-bg-shadow-footer: rgba(191, 191, 191, 0.5);
  --var-bg-shadow-black: rgba(0, 0, 0, 0.25);
  --var-bg-color-victory: rgba(0, 0, 0, 0.3);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../images/Sun.svg);
}

body,
button,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: "Pixelify Sans", Arial, sans-serif;
  background-color: transparent;
  color: var(--var-font-color);
  border: none;
}

.container {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: var(--var-bg-color);
  transition: background-color 1000ms ease;
}

header,
main,
footer {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--var-font-color);
}
